AIropress/AIropress.xcodeproj/xcuserdata/
AIropress/AIropress.xcodeproj/project.xcworkspace/xcuserdata/
AIropress/AIropress.xcworkspace/xcuserdata/skypy.xcuserdatad/
.DS_Store
AIropress/Pods/Pods.xcodeproj/xcuserdata/
